@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "mixins";
@import "vars";

%container {
  width: 80%;
  padding: 0 10%;
}

%flexDisplay {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: $textColor;
}

a {
  text-decoration: none;
  color: $hrefColor;
  transition: color 600ms ease;
}

a:hover {
  color: $hrefColorhover;
}

header {
  @extend %container;
  @extend %flexDisplay;
  align-items: center;
  padding-top: 50px;
}

.logo {
  font-size: 48px;
  font-weight: 200;
  color: #454545;
  cursor: pointer;
}

ul {
  list-style: none;
  li {
    display: inline-block;
    margin-right: 25px;
    .active::after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $mainColor;
      display: inline-block;
      position: relative;
      top: 12px;
      right: 50%;
    }
    .fa-magnifying-glass {
      cursor: pointer;
      color: $hrefColor;
      transition: color 600ms ease;
    }
    .fa-magnifying-glass:hover {
      color: $hrefColorhover;
    }
  }
}

.main {
  @extend %container;
  margin-top: 50px;

  h1 {
    font-size: 36px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 3px;
      background: $mainColor;
      position: absolute;
      bottom: 3px;
      left: 0;
    }
  }
  .intro-text {
    margin-top: 30px;
    font-weight: 300;
  }
  .articles {
    @extend %flexDisplay;
    > div {
      width: 32%;
      margin-top: 50px;
      color: #000;

      .img-holder {
        width: 100%;
        height: 300px;
        background: $img-holder-bg;

        &.big-size {
          height: 500px;
        }
        &.medium-size {
          height: 400px;
        }
      }
      .tag {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        margin-top: 40px;
      }
      h3 {
        font-size: 24px;
        margin-top: 5px;
      }
      p {
        color: $textColor;
        margin-top: 10px;
      }
      .bottom {
        @extend %flexDisplay;
        margin-bottom: 40px;
        margin-top: 10px;
        color: $textColor;
        font-size: 14px;
        width: 80%;

        i {
          margin-right: 5px;
        }
      }
    }
  }
  .load-more {
    width: 190px;
    height: 52px;
    margin: 50px auto;
    display: block;
    border: 1px silver solid;
    border-radius: 5px;
    background-color: #eeeeee;
    text-transform: uppercase;
    transition: all 600ms ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    &:hover {
      background-color: #bbb;
    }
  }
}

footer {
  @extend %container;
  margin-top: 60px;
  border-top: 1px solid #f6f6f6;
  padding-top: 50px;

  .flex-bocks {
    @extend %flexDisplay;
    > div {
      width: 26%;

      h3 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #000;
      }
      .socials {
        margin-top: 20px;

        i {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #eeeeee;
          text-align: center;
          line-height: 30px;
          font-size: 12px;
          margin-right: 5px;
          color: #000;
          cursor: pointer;
          transition: all 600ms ease;
          &:hover {
            color: $mainColor;
          }
        }
      }
      .links {
        list-style: none;
        li {
          display: block;
          margin-top: 10px;

          a {
            color: $textColor;
            transition: all 600ms ease;

            &:hover {
              color: $mainColor;
              transform: scale(1.6ms);
              border-bottom: 1px solid $mainColor;
            }
          }
        }
      }
      .email-link {
        color: $mainColor;
        border-bottom: 1px solid $mainColor;

        &:hover {
          color: #333;
          border-color: #333;
        }
      }
    }
  }
}

.text-bottom {
  text-align: center;
  margin-top: 70px;
  border-top: 1px solid #f6f6f6;
  padding: 30px 0;
}
